:root {
  --ion-color-secondary: #d17000;
  --ion-color-secondary-rgb: 0,102,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;
  --ion-color-primary: rgb(40, 68, 194);
  --ion-background-color: rgb(228, 231, 17);
}
.primary {
    --ion-toolbar-background:  rgb(40, 68, 194);
    --ion-text-color:  rgb(231, 192, 17);

}