.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.header-md:after {
background-color: cadetblue;

}

.header-md:content {
background-color: cadetblue;

}

.newcolor{
  background-color: cadetblue;
}
:root {
  --ion-color-secondary: #d17000;
  --ion-color-secondary-rgb: 0,102,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;
}