
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.alinhamentCenter{
  text-align: center;
}
.positionbutton{
  background-color: rgb(40, 68, 194);
  margin-top: 1rem ;
  
}





.newcolor{
  background-color: rgb(40, 68, 194);;
}
:root {
  --ion-color-secondary: #d17000;
  --ion-color-secondary-rgb: 0,102,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;

  --ion-background-color: rgb(228, 231, 17);
}

.primary {
    --ion-toolbar-background:  rgb(40, 68, 194);
    --ion-text-color:  rgb(231, 192, 17);

}


.logo {
    position: relative;
}

        .tg {
          border-collapse: collapse;
          border-spacing: 0;
        }
      
        .tg td {
          font-family: Arial, sans-serif;
          font-size: 14px;
          padding: 10px 5px;
          border-style: solid;
          border-width: 1px;
          overflow: hidden;
          word-break: normal;
          border-color: black;
        }
      
        .tg th {
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-weight: normal;
          padding: 10px 5px;
          border-style: solid;
          border-width: 1px;
          overflow: hidden;
          word-break: normal;
          border-color: black;
        }

        .phont {
        font-size: 12px;
        line-height: 0.2;     
        font-family: 'Times New Roman', Times, serif
      }
      
        .tg .tg-ajkd {
          font-size: 12px;
          font-family: Impact, Charcoal, sans-serif !important;
          ;
          text-align: center;
          vertical-align: top
        }
      
        .tg .tg-0lax {
          text-align: left;
          vertical-align: top
        }
