<ion-header color="primary">
  <ion-toolbar class="primary" >
    <ion-buttons slot="start">
      <ion-menu-button color="ion-color-secondary" ></ion-menu-button>
    </ion-buttons>
     <ion-title class="primary">  
  <table>
  <tr>
 <th> <img class="logo" src="assets/icon/favicon.png" width="50px" style="display:inline-block" height="50px" /> </th>
 <th>  <strong>Monitora UFG</strong> 
  <br>
  <p class="phont">Adminstrador</p> </th>

  </table>
  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
    <ion-card class="welcome-card" >
      <ion-card-header>
        <ion-card-title>Painel de Homologação de Ativos Elétricos(Ligados)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Você está monitorando os recursos elétricos do centro de aulas "C". Por favor,
          confirme nos itens abaixo, quais equipamentos foram desativados no momento:
        </p>
      </ion-card-content>

    <app-sala></app-sala>

    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ajuda?</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Manual do Usuário</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Reportar problemas</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
